:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.125rem;
  background-color: var(--bg);
}

* {
  color: var(--fg);
}

:root.transitioning {
  transition: background-color 0.3s ease;
}

:root.transitioning * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  width: 100%;
}

#app {
  width: 100%;
  max-width: 700px;
}

main {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  background-color: var(--bg2);
  border: 1px solid var(--fg);
  color: var(--fg);
}

button:hover {
  background-color: var(--bg2);
}

button:active {
  background-color: var(--bg1);
}


h1 {
  font-weight: normal;
  color: var(--red);
}

h2 {
  font-weight: normal;
  color: var(--green);
}

p {
  color: var(--fg);
}

a:link,
a:visited {
  color: var(--aqua-dim)
}

main {
  margin-top: 24px;
}

span {
  color: var(--fg);
}
